service emdlogger1 /system/bin/emdlogger1
    class main
    user shell
    group system shell radio sdcard_rw inet sdcard_r media_rw
    disabled
    oneshot

on property:vold.decrypt=trigger_restart_framework
    start emdlogger1